.box{
  display: flex;
  justify-content:space-around;
  margin-top: 100px;
  margin-bottom: 100px;
  button{
    padding: 10px 16px;
    background-color: aquamarine;
    cursor: pointer;
    border: none;
    font-size: 26px;
    &:hover{
    background-color: rgb(65, 139, 115);
    color: #fff;
  }
  }
}