button{
    font-size: 28px;
    height: 50px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgb(72, 104, 73);
    border: 0;
    &:focus{
      background-color: rgb(44, 63, 44);
      color: #fff;
    }
}
