<mat-dialog-content>
  <h2 mat-dialog-title>Edit Card</h2>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rank</mat-label>
      <mat-select formControlName="rank">
        <mat-option [value]="null">—</mat-option>
        @for (rank of rankOptions; track rank) {
          <mat-option [value]="rank">
            {{ rank }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Clan</mat-label>
      <input matInput formControlName="clan" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Birthdate</mat-label>
      <input matInput formControlName="birthdate" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sex</mat-label>
      <mat-select formControlName="sex">
        <mat-option [value]="null">—</mat-option>
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Female">Female</mat-option>
        <mat-option value="Unknown">Unknown</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Blood Type</mat-label>
      <mat-select formControlName="bloodType">
        <mat-option [value]="null">—</mat-option>
        <mat-option value="A">A</mat-option>
        <mat-option value="B">B</mat-option>
        <mat-option value="AB">AB</mat-option>
        <mat-option value="O">O</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button matButton="filled" (click)="savePerson()" [disabled]="form.invalid">Save</button>
</mat-dialog-actions>
