.box {
  margin-top: 100px;
  padding: 20px;
  width: 100%;
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    .card {
      position: relative;
      padding: 10px;
      padding-top: 30px;
      margin-bottom: 40px;
      width: 300px;
      height: 360px;
      background-color: rgb(255, 255, 255);
      border-radius: 7px;
      color: #000;
      display: flex;
      flex-direction: column;
      &:first-child{
        height: auto;
      }
      &:last-child{
        height: auto;
      }
      h3{
        align-self: center;
        margin-bottom: 6px;
      }
      span{
        padding: 8px 0;
      }
      button{
        padding: 6px 12px;
        border: 0;
        border-radius: 3px;
        background-color: cadetblue;
        color: #fff;
        position: absolute;
        margin-top: 10px;
        bottom: 10px;
        left: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 16px;
        &:hover{
          background-color: rgb(44, 72, 73);
        }
      }
    }
  }
}
