.card {
  width: 340px;
  height: 440px;
  display: flex;
  flex-direction: column;

  mat-card-title {
    color: rgb(30, 111, 117);
    font-weight: 500;
  }

  mat-card-header {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
  }

  mat-card-subtitle {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &_img-box {
    width: 280px;
    height: 210px;
    align-self: center;
    img[mat-card-image] {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }
  mat-card-actions {
    margin-top: auto;
    display: flex;
    justify-content: end;

    button {
      border-radius: 4px;
      width: 30%;
    }
  }
}
.rank {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 6px;
}
.rank--academyStudent{ background: #356ba8;  }
.rank--genin   { background: #57af4c; }
.rank--chunin { background: #fffb07; }
.rank--tokubetsuJonin{background: #e0a21c;}
.rank--jonin   { background: #e05b1c; }
.rank--kage    { background: #ff0101; }
.rank--anbu    { background: #8b0859; }
.rank--default { background: #9e9e9e; }
