.box{
  margin-top: 500px;
  width: 100%;
  min-height: 120px;
  display: flex;
  height: auto;
  padding: 30px;
  margin: 0;
  h1{
    margin-top: 10px;
  }
  input{
    font-size: 28px;
    height: 50px;
    width: 500px;
    padding: 10px;
    outline: none;
    border: 2px solid #fff;
    margin-right: 10px;
  }
}